@import "tailwindcss";

@utility no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --background: #fafafa;
  --foreground: #171717;

  /* Easily swap these hex codes for the party's aesthetic */
  --primary: #f472b6;
  /* Pink-400 */
  --secondary: #fb7185;
  /* Rose-400 */
  --accent: #fbcfe8;
  /* Pink-200 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #db2777;
    /* Pink-600 */
    --secondary: #e11d48;
    /* Rose-600 */
    --accent: #831843;
    /* Pink-900 */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-tap-highlight-color: transparent;
}