@import "tailwindcss";

@utility no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --background: #F5F5DC;
  --foreground: #3E2723;

  /* Beige & White Theme */
  --primary: #D2B48C;
  /* Tan */
  --secondary: #C19A6B;
  /* Fallow */
  --accent: #FFFDD0;
  /* Cream */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #F5F5DC;

    --primary: #D2B48C;
    --secondary: #C19A6B;
    --accent: #3E2723;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-tap-highlight-color: transparent;
}
